{"swagger":"2.0","info":{"title":"Migrate Canvas Apps","description":"","version":"1.0"},"host":"api.bap.microsoft.com","basePath":"/","schemes":["https"],"consumes":[],"produces":[],"paths":{"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/listPackageResources":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"List Package Resources","description":"List Package Resources","operationId":"ListPackageResources","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":true,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/exportPackage":{"post":{"responses":{"default":{"description":"default","schema":{"type":"object","properties":{"status":{"type":"string","description":"status"},"details":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"description":{"type":"string","description":"description"},"packageTelemetryId":{"type":"string","description":"packageTelemetryId"},"creator":{"type":"string","description":"creator"},"sourceEnvironment":{"type":"string","description":"sourceEnvironment"}},"description":"details"},"resources":{"type":"object","properties":{"a655122a-d940-4dec-9fa2-37c706151108":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"type":{"type":"string","description":"type"},"status":{"type":"string","description":"status"},"suggestedCreationType":{"type":"string","description":"suggestedCreationType"},"creationType":{"type":"string","description":"creationType"},"details":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"}},"description":"details"},"configurableBy":{"type":"string","description":"configurableBy"},"hierarchy":{"type":"string","description":"hierarchy"},"dependsOn":{"type":"array","items":{"type":"string"},"description":"dependsOn"}},"description":"a655122a-d940-4dec-9fa2-37c706151108"},"6614d7b7-49e5-481f-8afb-6160a8fa700f":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"type":{"type":"string","description":"type"},"status":{"type":"string","description":"status"},"suggestedCreationType":{"type":"string","description":"suggestedCreationType"},"details":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"iconUri":{"type":"string","description":"iconUri"}},"description":"details"},"configurableBy":{"type":"string","description":"configurableBy"},"hierarchy":{"type":"string","description":"hierarchy"},"dependsOn":{"type":"array","items":{},"description":"dependsOn"}},"description":"6614d7b7-49e5-481f-8afb-6160a8fa700f"},"00e693de-fde2-4c8e-86df-2b4a963225b7":{"type":"object","properties":{"id":{"type":"string","description":"id"},"name":{"type":"string","description":"name"},"type":{"type":"string","description":"type"},"status":{"type":"string","description":"status"},"suggestedCreationType":{"type":"string","description":"suggestedCreationType"},"details":{"type":"object","properties":{"displayName":{"type":"string","description":"displayName"},"iconUri":{"type":"string","description":"iconUri"}},"description":"details"},"configurableBy":{"type":"string","description":"configurableBy"},"hierarchy":{"type":"string","description":"hierarchy"},"dependsOn":{"type":"array","items":{},"description":"dependsOn"}},"description":"00e693de-fde2-4c8e-86df-2b4a963225b7"}},"description":"resources"}}}}},"summary":"Export Package","description":"Export Package","operationId":"ExportPackage","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/packagingOperations/{OperationID}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Packaging Operation","description":"Packaging Operation","operationId":"PackagingOperation","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"OperationID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/generateResourceStorage":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Generate Resource Storage","description":"Generate Resource Storage","operationId":"GenerateResourceStorage","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/listImportOperations/{OperationID}":{"get":{"responses":{"default":{"description":"default","schema":{}}},"summary":"List Import Operation","description":"List Import Operation","operationId":"ListImportOperation","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"OperationID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/listImportParameters":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"List Import Parameters","description":"List Import Parameters","operationId":"ListImportParameters","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/validateImportPackage":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Validate Import Package","description":"Validate Import Package","operationId":"ValidateImportPackage","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}},"/providers/Microsoft.BusinessAppPlatform/environments/{EnvironmentID}/importPackage":{"post":{"responses":{"default":{"description":"default","schema":{}}},"summary":"Import Package","description":"Import Package","operationId":"ImportPackage","parameters":[{"name":"EnvironmentID","in":"path","required":true,"type":"string"},{"name":"api-version","in":"query","required":false,"type":"string","default":"2016-11-01"},{"name":"body","in":"body","required":false,"schema":{"type":"string"}}]}}},"definitions":{},"parameters":{},"responses":{},"securityDefinitions":{"oauth2-auth":{"type":"oauth2","flow":"accessCode","authorizationUrl":"https://login.microsoftonline.com/common/oauth2/authorize","tokenUrl":"https://login.windows.net/common/oauth2/authorize","scopes":{}}},"security":[{"oauth2-auth":[]}],"tags":[]}